AWS_REGION=${aws_region}
CI_TIMING_DATASETTE_PORT=${datasette_port}
CI_TIMING_DATA_DIR=${data_mount_path}
CI_TIMING_DB_FILENAME=${db_filename}
CI_TIMING_EXPORT_DIR=${data_mount_path}/${export_dir}
CI_TIMING_SITE_DIR=${data_mount_path}/${site_dir}
CI_TIMING_IMAGE_REF=${image_ref}
CI_TIMING_ECR_REPOSITORY=${ecr_repository_url}
CI_TIMING_RUNTIME_UID=${runtime_uid}
CI_TIMING_RUNTIME_GID=${runtime_gid}
CI_TIMING_BACKUP_BUCKET=${backup_bucket_name}
CI_TIMING_BACKUP_PREFIX=${backup_prefix}
CI_TIMING_BACKUP_ARCHIVE_DIR=${backup_archive_dir}
CI_TIMING_BACKUP_LATEST_NAME=${backup_latest_name}
CI_TIMING_CADDY_IMAGE=${caddy_image}
CI_TIMING_CADDY_DATA_DIR=${caddy_data_dir}
CI_TIMING_CADDY_CONFIG_DIR=${caddy_config_dir}
CI_TIMING_TOKEN_PARAMETER=${token_parameter}
